*{
    padding: 0;
    margin: 0;
}
body{
    background-color:white;
}

p{
    font-size:25px ;
    border-color: yellow;

}
h1{
    font-size: 50px;
    color:pink;
    text-shadow: -2px -1px  black;
}

#title{
    border-bottom: solid rgba(128, 128, 128, 0.705) 0.5px;

    height: 40vh;
    margin: 0px;
    padding: 50px 0px 0px 50px;
    /*
    border-radius: 30px 30px 0 0px;
    */
    background-image: url(./img/bunner-fondo.png);
    background-size: cover;
    background-position: right center;
    object-fit: fill;
    display: flex; 
    flex-direction: column; 
    justify-content:center; 
    gap: 1rem;
}
#title a{
    color: black;
    background-color: pink;
    height: 2rem;
    width: 10rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;  
    border: solid black 0.5px

}
#content{
    /*
    border: solid 0.5px black;
    */
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: 388px;
  background-color: pink;
  margin: 50px 0 20px;
  overflow-y: auto;
  padding: 1rem;
}
#content img{
    height: 18rem;
    border-radius: 20px 0px;
    box-shadow: 5px 5px rgba(58, 56, 56, 0.216);
    width: 20rem;
    border: solid black 0.1px;
    padding: 4px;
}
#content aside{
    max-height: 380px;
    overflow-y: auto;
    display: flex;
    max-width: 70%;
    gap: 3rem;
}
.title-content{
    margin: 10px;
}
.section-contact{
    display: flex;
    flex-direction:column;
    width: 44%;
    align-items:center;
    justify-content: center;
    margin: 5px;
    gap: 10px;
    background-color:pink;
    
}
.section-contact img{
    width: 90%;
  border-radius: 20px;
  box-shadow: 5px 5px rgba(58, 56, 56, 0.216);
  height: 75%;
}
.info-service{
    display: flex;
  justify-content: center;
  min-height: 250px;
  gap: 2%;   
}
footer{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}